
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: rgb(183, 245, 158);
        
        font-family: "URW Chancery L", cursive;
    }
    .center {
        margin:0;
      position: relative;
      padding: 25px;
      width:200px;
      background: #fff;
      border-radius: 30px;
      border: 2px solid black;
        outline: #4CAF50 solid 10px;
    }

    